*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(45deg, pink, white);
    display: flex;
    flex-direction: column;
    font-family: monospace;
}

main{
    flex-grow: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.3rem;
    justify-content: flex-end;
}

.message{
    background-color: red;
    width: fit-content;
    padding: 0.5rem;
    border-radius: 0.3rem;
    color: white;
}

.message:nth-child(3){
    align-self: flex-end;
}

header{
    background-color: red;
    color: white;
    text-align: center;
    padding: 0.3rem;
}

.form{
    display: flex;
}

.form input {
    flex-grow: 1;
    padding: 0.5rem;
    font-size: 1.2rem;
    border: none;
}

.form button {
    background-color: red;
    border: none;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
}

main.register, main.login{
    justify-content: center;
    align-items: center;
}

.register form, .login form{
    display: flex;
    flex-direction: column;
    background-color: red;
    padding: 1rem;
    border-radius: 0.5rem;
    min-width: 400px;
    color: white;
    font-size: 1.2rem;
    text-align: center;
}

label, button{
    margin-top: 1rem;
}

form input{
    padding: 0.3rem 1rem;
    border-radius: 2rem;
    border: none;
}

form button{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
}